# Binaries
**/bin/
bin-int/
Intermediates/

# CraftNow files
*.log
*.json

#imgui file


# Visual Studio files and folder
.vscode/
.vs/
**.sln
**.vcxproj
**.vcxproj.filters
**.vcxproj.user
**.csproj**

# Directories
CraftNow/vendor/VulkanSDK
CraftNowEditor/assets/cache
scripts/__pycache__