[submodule "CraftNow/vendor/spdlog"]
	path = CraftNow/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "CraftNow/vendor/GLFW"]
	path = CraftNow/vendor/GLFW
	url = https://github.com/YINGHAIDADA/glfw
[submodule "CraftNow/vendor/imgui"]
	path = CraftNow/vendor/imgui
	url = https://github.com/YINGHAIDADA/imgui
[submodule "CraftNow/vendor/glm"]
	path = CraftNow/vendor/glm
	url = https://github.com/g-truc/glm
