# Binaries
**/bin/
bin-int/
Intermediates/

# CraftNow files
*.log

#imgui file
**.ini

# Visual Studio files and folder
.vscode/
.vs/
**.sln
**.vcxproj
**.vcxproj.filters
**.vcxproj.user
**.csproj

# Directories
CraftNow/vendor/VulkanSDK
CraftNownut/assets/cache
scripts/__pycache__